---

---

<p class="py-24 mt-4 relative">
  <span class="absolute top-0 left-1/2 transform -translate-x-1/2">
    <span class="block h-1 w-1 bg-green-700 rounded-full"></span>
    <span class="block h-1 w-1 bg-green-800 rounded-full mt-2"></span>
    <span class="block h-1 w-1 bg-green-900 rounded-full mt-2"></span>
  </span>
</p>
