---
import SpeedInsights from '@vercel/speed-insights/astro'
---

<html class="dark" lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Marc Pont" />

    <link rel="canonical" href="https://infinicuentos.vercel.app/" />

    <meta
      name="description"
      content="Crea y vive historias interactivas generadas por inteligencia artificial. Escoge el género, decide el rumbo y disfruta de una experiencia única."
    />
    <meta
      property="og:title"
      content="Infinicuentos - Historias Interactivas Generadas por IA"
    />
    <meta
      property="og:description"
      content="Crea y vive historias interactivas generadas por inteligencia artificial. Escoge el género, decide el rumbo y disfruta de una experiencia única."
    />
    <meta
      property="og:image"
      content="https://infinicuentos.vercel.app/logo.webp"
    />
    <meta property="og:url" content="https://infinicuentos.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Infinicuentos - Historias Interactivas Generadas por IA"
    />
    <meta
      name="twitter:description"
      content="Crea y vive historias interactivas generadas por inteligencia artificial. Escoge el género, decide el rumbo y disfruta de una experiencia única."
    />
    <meta
      name="twitter:image"
      content="https://infinicuentos.vercel.app/logo.webp"
    />
    <meta name="theme-color" content="#000000" />

    <title>Infinicuentos - Historias interactivas generadas por IA</title>
  </head>
  <style>
    :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
      }
    }

    body {
      color: rgb(var(--foreground-rgb));
      background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    }
  </style>
  <body>
    <SpeedInsights />
    <slot />
  </body>
</html>
